# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# Env
.env

# Logs
logs/

# Music
desktop/music/

# OS
.DS_Store
Thumbs.db

# Notes
_notes/
desktop/test.py

# C# / .NET
web/backend/bin/
web/backend/obj/
web/backend/*.user
web/backend/.vs/

# React / Node
web/frontend/node_modules/
web/frontend/dist/
/desktop/musicTest
/desktop/fichiers-mp3
